// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

.center-content { justify-content: center; display: flex; }

.blue-circle { animation-delay: 0.1s; }

.green-circle { animation-delay: 0.2s; }

.red-circle { animation-delay: 0.3s; }

footer { position: absolute; bottom: 0; right: 0; margin: 0; padding: 0; width: 100%; }

.footer-content { margin: 0; padding: 5px 50px 5px; }